.add-menu{
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100vh;
}
.add-menu input {
    margin:5px 0;
    padding:5px 10px;
    border-radius:5px;
}
.add-menu button {
    margin-top:5px;
    padding:5px 10px;
    background-color: rgb(146, 214, 146);
    border-radius: 5px;
    border:none;
    color:#FFF;
    font-weight: 700;
    cursor: pointer;
}
body {
    display:flex;
}

.menu-container {
    display:flex;
    flex-wrap: wrap;
    margin-left:30px;
    overflow: scroll;
}
.dish-card {
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius:5px;
    max-height: 600px;
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    margin:15px;
    padding:10px
}

.dish-card .description-class{
  
    max-height: 100px;
    overflow: auto;
    text-align: center;
    
}

.dish-card .img-seen{
    max-height: 250px;
}
.dish-card div{
    margin: 3px 0;
}
.dish-card .price-class,
.dish-card .time-class{
    font-weight: 700;
    font-size: 20px;
}

.dish-card .price-class-big,
.dish-card .time-class-big{
    color: rgb(189, 124, 124);
}

.dish-card .price-class-small,
.dish-card .time-class-small{
    color: rgb(124, 189, 129);
}

.delete-button {
    height: 30px;
    color:#FFF;
    font-weight: 700;
    margin-top:10px;
    border:none;
    cursor: pointer;
    
    border-radius: 5px;
}
.delete-button {
    background-color: rgb(253, 160, 160);
}